.mansalva-regular {
    font-family: "Mansalva", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 0;
    left: 0;
    right: 0;
    height: 40px;
    padding: 0 20px;
    background-color: lightblue;
    z-index: 1000;
}

.stitch-nav {
    font-family: "Mansalva", sans-serif;
    font-size: 35px;
    margin: 0;
    display: inline-block;
}

.logo {
    height: 40px;
    margin-left: 10px;
    display: inline-block;
}

.navbar-brand {
    display: flex;
    align-items: center;
}

.navbar-menu-main {
    display: flex;
    font-family: Roboto, sans-serif;
    gap: 20px;
    font-size: 23px;
}

.nav-buttons {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.nav-buttons.is-active {
    font-weight: bold;
}

/* footer */

.footer {
    text-align: center;
    font-family: Roboto, sans-serif;
    height: 23px;
    background-color: lightblue;
}