/* GIF Styles */
.runningStitchGif {
    position: absolute;
    top: 185px;
    right: 650px;
    width: 150px;
}

.stitchLinguaGif {
    position: absolute;
    bottom: 22px;
    left: 120px;
    width: 150px;
}
